/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2017, 9:43:21 PM
    Author     : kate
*/
.form{
    background-color: lightblue;
    font-family: Lucida Sans Unicode;
    color: darkblue;
    padding: 10px 10px 30px 10px;
    width: 300px;
    height:auto;
    
    margin-right:auto;
    margin-left:auto;
}
h1{
    font-size: 20px;
    font-family: verdana;
}
hr{
    height:6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border:0;
}
.buttons{
    margin-left: auto;
    margin-right: auto;
    width:116px;
}
#clear{
    font-size: 15px;
    border-radius: 12px;
    color:darkblue;
    background-color: lightblue;
    border: 1px dotted gray;
}
#submit{
    font-size: 15px;
    border-radius: 12px;
    color:darkblue;
    background-color: lightblue;
    border: 1px solid gray;
}
table, th, td{
    border:1px solid gray;
}
table{
    border-collapse: collapse;
    padding:5px;
}
.results{
    border: 1px dotted gray;
    background-color: whitesmoke;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
#info{
    width:250px;
    margin-left: auto;
    margin-right: auto;
}
input{float:right;}
